main {
  background-image: url("https://as1.ftcdn.net/v2/jpg/03/86/96/26/1000_F_386962665_oL3nJAYyNnx5JlEJ4ngHCs4kfuIofWdK.jpg");
  display: grid;
  grid-template-rows: .1fr .9fr;
  grid-template-columns: .05fr 0.9fr.05fr;
  justify-content: space-around;

}

container {
  display: grid;
  grid-template-rows: 0.1fr 0.9 fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'controls character';
  grid-gap: 20px;

}

container img {
  width: 500px
}

chilis {
  font-size: 20px;
}
