main {
  background-image: url("https://cdn.vectorstock.com/i/1000x1000/96/55/chilis-background-design-vector-19639655.webp");
  display: grid;
  grid-template-rows: .1fr .9fr;
  grid-template-columns: .05fr 0.9fr.05fr;
  justify-content: space-around;

}

container {
  display: grid;
  grid-template-rows: 0.1fr 0.9 fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'controls character';
  grid-gap: 20px;

}

container img {
  width: 500px
}

chilis {
  font-size: 20px;
}
